<!DOCTYPE html>
<html>
<head>
    <title>GST Rate Management - TaxCrafter</title>
    <link rel="stylesheet" href="./css/gst.css"> 
</head>
<body>
    <h1>GST Rate Management</h1>
    <br/>
    <h2>Add/Edit GST Rates</h2>
        <form id="gstForm" action="/gst.html" method="post">
        <div class="gst-rates-form">
            <label for="categorySelection">Select Category</label>
            <select id="categorySelection" name="categorySelection">
                <option value="Food">Food</option>
                <option value="Footwear">Footwear</option>
                <option value="Electronics">Electronics</option>
            </select>
            <br/>
            <br/>
            <label for="gstRate">Enter GST Rate</label>
            <input type="text" id="gstRate" name="gstRate" placeholder="Enter GST Rate (%)">
            
            <button type="submit">Add GST Rate</button>         
            </form>
        <hr>
</body>
</html>
