<!DOCTYPE html>
<html>
<head>
    <title>Sales - TaxCrafter</title>
    <link rel="stylesheet" href="./css/sale.css">
</head>
<body>
    <h1>Sales</h1>
    <form id="saleForm" action="/sale.html" method="post">
        <div class="sale-form">
            <h2>Record a Sale</h2>
            <label for="productSelection">Select Product</label>
            <select id="productSelection" name="productSelection">
                <option value="product1">Crocs</option>
                <option value="product2">iPhone</option>
                <option value="product2">Hoddie</option>
                <option value="product2">iPhone</option>
                <option value="product2">Pizza</option>
            </select>
            <button type="submit">Calculate Tax</button>
            <center>
                <button class="bill" type="submit">Generate Bill</button>
            </center>
        </div>
    </form>

    <script>
       
    </script>
</body>
</html>
